In [2]:
import duckdb
con = duckdb.connect("c:/Code/Local Code/deadlock_match_prediction/data/deadlock.db")

In [3]:
df = con.execute("SELECT * FROM player_matches LIMIT 10").fetchdf()
df

,account_id,match_id,hero_id,team,kills,deaths,assists,denies,net_worth
0,1146874782,35509898,14,Team0,1,5,11,5,34990
1,854939296,35509898,10,Team1,8,6,20,24,32167
2,78706118,35509898,35,Team0,1,6,7,7,23335
3,31357831,35509898,31,Team1,8,2,18,3,35845
4,200135833,35509898,50,Team0,2,9,10,2,28047
5,1030720219,35509898,19,Team1,12,1,14,2,38473
6,129093286,35509898,15,Team1,4,7,14,0,32979
7,158752514,35509898,4,Team1,11,2,18,11,45330
8,99844341,35509898,2,Team1,7,5,14,0,37577
9,193143480,35509898,13,Team0,4,5,6,12,35192

In [ ]:
response = con.execute("""SELECT 
    account_id,
    COUNT(DISTINCT match_id) AS match_count
FROM 
    player_matches
GROUP BY 
    account_id
ORDER BY 
    match_count DESC
LIMIT 25;""").fetchdf()
print(response)

In [ ]:
response = con.execute("""SELECT 
    match_count,
    COUNT(*) AS player_count
FROM (
    SELECT 
        account_id,
        COUNT(DISTINCT match_id) AS match_count
    FROM 
        player_matches
    GROUP BY 
        account_id
) t
GROUP BY 
    match_count
ORDER BY 
    match_count;""").fetchdf()
print(response)

In [ ]:
response = con.execute("""
        SELECT 
            pm.account_id,
            COUNT(DISTINCT pm.match_id) AS match_count,
            MAX(m.start_time) AS match_time
        FROM 
            player_matches pm
        JOIN
            matches m ON pm.match_id = m.match_id
        GROUP BY 
            pm.account_id
        HAVING 
            match_count > 10
        ORDER BY
            match_time DESC
        LIMIT 5
        """).fetchdf()
print(response)

In [ ]:
response = con.execute("""
        SELECT 
           for match_id in matches
            count(account_id) in player_trends
        """).fetchdf()
print(response)

In [6]:
df = con.execute("""
    SELECT *
    FROM player_trends
                 limit 25
""").fetchdf()
print(df)

    account_id  p_average_kills  p_average_deaths  p_avg_kd  p_total_matches  \
0    158752514              NaN               NaN       NaN             <NA>
1     97506421              NaN               NaN       NaN             <NA>
2   1558594524              NaN               NaN       NaN             <NA>
3   1146769754              NaN               NaN       NaN             <NA>
4   1032223691              NaN               NaN       NaN             <NA>
5    358780740              NaN               NaN       NaN             <NA>
6    381952778              NaN               NaN       NaN             <NA>
7   1685634485              NaN               NaN       NaN             <NA>
8    150454049              NaN               NaN       NaN             <NA>
9    172423864              NaN               NaN       NaN             <NA>
10   183362050              NaN               NaN       NaN             <NA>
11   344336241              NaN               NaN       NaN             <NA>
12  1217082428              NaN               NaN       NaN             <NA>
13  1000508210              NaN               NaN       NaN             <NA>
14  1729603351              NaN               NaN       NaN             <NA>
15   159356881              NaN               NaN       NaN             <NA>
16  1532558207              NaN               NaN       NaN             <NA>
17   243706689              NaN               NaN       NaN             <NA>
18  1098006019              NaN               NaN       NaN             <NA>
19    99576706              NaN               NaN       NaN             <NA>
20  1141865532              NaN               NaN       NaN             <NA>
21  1147931220              NaN               NaN       NaN             <NA>
22   842141322              NaN               NaN       NaN             <NA>
23  1592121821              NaN               NaN       NaN             <NA>
24    74409621              NaN               NaN       NaN             <NA>

    p_win_rate  p_v_h_kd_pct  win_streaks_2plus  win_streaks_3plus  \
0          NaN           NaN                124                 57
1          NaN           NaN                181                102
2          NaN           NaN                 75                 46
3          NaN           NaN                196                110
4          NaN           NaN                131                 78
5          NaN           NaN                166                 92
6          NaN           NaN                140                 75
7          NaN           NaN                 23                 12
8          NaN           NaN                103                 57
9          NaN           NaN                148                 74
10         NaN           NaN                125                 66
11         NaN           NaN                 16                  8
12         NaN           NaN                 40                 23
13         NaN           NaN                106                 51
14         NaN           NaN                 21                 13
15         NaN           NaN                 83                 40
16         NaN           NaN                250                122
17         NaN           NaN                134                 77
18         NaN           NaN                248                137
19         NaN           NaN                266                142
20         NaN           NaN                 44                 23
21         NaN           NaN                 22                 17
22         NaN           NaN                113                 58
23         NaN           NaN                222                116
24         NaN           NaN                103                 56

    win_streaks_4plus  win_streaks_5plus  loss_streaks_2plus  \
0                  35                 18                  94
1                  59                 40                 137
2                  27                 16                  42
3                  63                 37                 169
4                  39                 20                 123
5                  55                 34                 117
6                  42                 21                 124
7                   9                  5                  13
8                  35                 18                  93
9                  41                 16                 136
10                 37                 19                 101
11                  7                  7                   7
12                 14                 11                  28
13                 34                 16                  89
14                 10                 10                   9
15                 20                  9                  82
16                 64                 33                 236
17                 44                 22                 102
18                 68                 34                 199
19                 80                 37                 236
20                  9                  3                  31
21                  9                  8                  21
22                 33                 24                  93
23                 65                 38                 185
24                 28                 15                  72

    loss_streaks_3plus  loss_streaks_4plus  loss_streaks_5plus  \
0                   43                  19                   7
1                   57                  29                  15
2                   18                   6                   3
3                   90                  39                  21
4                   59                  34                  18
5                   51                  24                  15
6                   65                  28                  12
7                    4                   0                   0
8                   34                  13                   7
9                   72                  34                  18
10                  32                  11                   4
11                   5                   1                   0
12                  13                   7                   2
13                  47                  22                  11
14                   1                   0                   0
15                  35                   9                   6
16                 102                  49                  18
17                  38                  19                   8
18                 104                  45                  18
19                 112                  50                  24
20                  17                   6                   3
21                   8                   6                   4
22                  37                  16                   8
23                  81                  40                  18
24                  31                  11                   3

    p_win_streak_avg  p_loss_streak_avg
0           2.130435           1.743478
1           2.450479           1.782051
2           2.626087           1.701754
3           2.321937           1.954286
4           2.226496           2.072961
5           2.348123           1.771331
6           2.148855           1.900383
7           2.300000           1.340000
8           2.243243           1.805405
9           2.035714           1.953571
10          2.273148           1.686636
11          4.368421           1.684211
12          3.368421           1.946429
13          2.142132           1.882653
14          3.937500           1.303030
15          2.017544           1.795322
16          1.998031           1.821218
17          2.147860           1.679688
18          2.205418           1.839729
19          2.239829           1.940171
20          2.077922           1.766234
21          2.522727           2.000000
22          2.204878           1.785366
23          2.280702           1.832080
24          2.205405           1.664865