In [1]:
import duckdb
con = duckdb.connect("c:/Code/Local Code/deadlock_match_prediction/data/deadlock.db")

In [ ]:
df = con.execute("SELECT * FROM player_matches LIMIT 10").fetchdf()
df

In [3]:
response = con.execute("""SELECT 
    account_id,
    COUNT(DISTINCT match_id) AS match_count
FROM 
    player_matches
GROUP BY 
    account_id
ORDER BY 
    match_count DESC;""").fetchdf()
print(response)

      account_id  match_count
0      483770846           34
1      130174860           31
2      204288555           22
3      136898005           22
4      356216207           21
...          ...          ...
1646   119080791            1
1647    87286231            1
1648  1234476567            1
1649   119356613            1
1650   294981454            1

[1651 rows x 2 columns]

In [14]:
response = con.execute("""SELECT 
    match_count,
    COUNT(*) AS player_count
FROM (
    SELECT 
        account_id,
        COUNT(DISTINCT match_id) AS match_count
    FROM 
        player_matches
    GROUP BY 
        account_id
) t
GROUP BY 
    match_count
ORDER BY 
    match_count;""").fetchdf()
print(response)

    match_count  player_count
0             1           880
1             2           311
2             3           129
3             4            95
4             5            60
5             6            41
6             7            31
7             8            25
8             9            16
9            10            12
10           11             9
11           12            11
12           13             5
13           14             6
14           15             4
15           16             3
16           17             3
17           18             2
18           19             1
19           20             2
20           21             1
21           22             2
22           31             1
23           34             1

In [19]:
response = con.execute("""
        SELECT 
            pm.account_id,
            COUNT(DISTINCT pm.match_id) AS match_count,
            MAX(m.start_time) AS match_time
        FROM 
            player_matches pm
        JOIN
            matches m ON pm.match_id = m.match_id
        GROUP BY 
            pm.account_id
        HAVING 
            match_count > 10
        ORDER BY
            match_time DESC
        LIMIT 5
        """).fetchdf()
print(response)

   account_id  match_count          match_time
0   165560339           14 2025-05-05 23:55:31
1    97506421           19 2025-05-05 23:55:31
2   472792201           11 2025-05-05 23:55:31
3   924812291           15 2025-05-05 23:52:42
4   291902996           20 2025-05-05 23:50:05