#Scratch for queries

In [2]:
import sqlite3

def run_query(query, db):
    # Connect to the SQLite database
    conn = sqlite3.connect(db)
    cursor = conn.cursor()
    
    # Execute the query
    cursor.execute(query)
    
    # Fetch all results (or just the column names, depending on the query)
    result = cursor.fetchall()
    
    # Close the connection
    conn.close()
    
    return result

#setting to deadlock.db

In [3]:
db = "deadlock.db"

#queries

In [5]:
query = "select * from heroes limit(5)"
data = run_query(query,db)
print(data)

[(1, 'Infernus'), (2, 'Seven'), (3, 'Vindicta'), (4, 'Lady Geist'), (6, 'Abrams'), (7, 'Wraith'), (8, 'McGinnis'), (10, 'Paradox'), (11, 'Dynamo'), (12, 'Kelvin'), (13, 'Haze'), (14, 'Holliday'), (15, 'Bebop'), (16, 'Calico'), (17, 'Grey Talon'), (18, 'Mo & Krill'), (19, 'Shiv'), (20, 'Ivy'), (21, 'Kali'), (25, 'Warden'), (27, 'Yamato'), (31, 'Lash'), (35, 'Viscous'), (38, 'Gunslinger'), (39, 'The Boss'), (47, 'Tokamak'), (48, 'Wrecker'), (49, 'Rutger'), (50, 'Pocket'), (51, 'Thumper'), (52, 'Mirage'), (53, 'Fathom'), (54, 'Cadence'), (56, 'Bomber'), (57, 'Shield Guy'), (58, 'Vyper'), (59, 'Vandal'), (60, 'Sinclair'), (61, 'Trapper'), (62, 'Raven')]